<div layout-margin layout-fill paddi ng-cloak>
  <md-card style="margin: 0px" layout="row">
    <md-input-container style="margin:15px;" flex-gt-xs="50">
      <label>Search By Name</label>
      <input type="text" ng-model="$ctrl.filter.name" ng-model-options="{ debounce: 400 }" ng-change="$ctrl.changeFilter()">
    </md-input-container>
    <md-input-container style="margin:15px;" flex-gt-xs="50">
      <label>Search By Author</label>
      <input type="text" ng-model="$ctrl.filter.author" ng-model-options="{ debounce: 400 }" ng-change="$ctrl.changeFilter()">
    </md-input-container>
  </md-card>
  <md-card style="margin-top:20px">
    <md-subheader>Items</md-subheader>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Likes Count</th>
            <th>Visible</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ui-sref="photo({ id: item.id })" ng-repeat="item in $ctrl.filteredItems">
            <td>{{::item.id}}</td>
            <td>{{::item.name}}</td>
            <td>{{::item.author}}</td>
            <td><fa name="thumbs-o-up"></fa> {{::item.likes}}</td>
            <td>
              <fa name="{{::item.isVisible ? 'check' : 'close'}}"></fa>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-card>
</div>
